Determine if the given person is a public figure and well known enough for a common game of twenty questions.
If yes, respond in the following format:
YES: <proper name of the person>

If not, just respond with an explanation why

Person={{ person }}